<form [formGroup]="form" (ngSubmit)="submitForm()">

  <div class="form-group row">
    <label for="username" class="col-sm-3 col-form-label">Username</label>
    <div class="col-sm-9">
      <input nbInput
             type="text"
             id="username"
             class="form-control"
             placeholder="Username"
             formControlName="username"
             [status]="usernameControl.invalid && (usernameControl.dirty || usernameControl.touched) ? 'danger' : ''">
      <div *ngIf="usernameControl.invalid && (usernameControl.dirty || usernameControl.touched)" class="form-text error">
        <span *ngIf="usernameControl.hasError('required')">
          Username is required.
        </span>
        <span *ngIf="usernameControl.hasError('maxlength')">
          Username exceeds max allowed string length.
        </span>
        <span *ngIf="usernameControl.hasError('pattern')">
          Username may only contain alpha-numeric characters, underscores and dashes.
        </span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="password" class="col-sm-3 col-form-label">Password</label>
    <div class="col-sm-9">
      <input nbInput
             type="password"
             id="password"
             class="form-control"
             formControlName="password"
             [status]="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched) ? 'danger' : ''">
      <small *ngIf="!passwordRequired" class="form-text">Optional. Leave empty if you don't want to change the password.</small>
      <div *ngIf="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched)" class="form-text error">
        <span *ngIf="passwordControl.hasError('required')">
          Password is required.
        </span>
        <span *ngIf="passwordControl.hasError('minlength')">
          Password should be at least 6 symbols long.
        </span>
        <span *ngIf="passwordControl.hasError('maxlength')">
          Password exceeds max allowed string length.
        </span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="email" class="col-sm-3 col-form-label">Email</label>
    <div class="col-sm-9">
      <input nbInput
             type="email"
             id="email"
             class="form-control"
             placeholder="Email"
             formControlName="email"
             [status]="emailControl.invalid && (emailControl.dirty || emailControl.touched) ? 'danger' : ''">
      <div *ngIf="emailControl.invalid && (emailControl.dirty || emailControl.touched)" class="form-text error">
        <span *ngIf="emailControl.hasError('required')">
          Email is required.
        </span>
        <span *ngIf="emailControl.hasError('email')">
          Enter a valid email address.
        </span>
        <span *ngIf="emailControl.hasError('maxlength')">
          Email exceeds max allowed string length.
        </span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="name" class="col-sm-3 col-form-label">Full name</label>
    <div class="col-sm-9">
      <input nbInput
             type="text"
             id="name"
             class="form-control"
             placeholder="Full name"
             formControlName="name"
             [status]="nameControl.invalid && (nameControl.dirty || nameControl.touched) ? 'danger' : ''">
      <div *ngIf="nameControl.invalid && (nameControl.dirty || nameControl.touched)" class="form-text error">
        <span *ngIf="nameControl.hasError('required')">
          Name is required.
        </span>
        <span *ngIf="nameControl.hasError('maxlength')">
          Name exceeds max allowed string length.
        </span>
        <span *ngIf="nameControl.hasError('pattern')">
          Name may only contain alpha characters, spaces, apostrophes and hyphens.
        </span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="offset-sm-3 col-sm-9">
      <button type="button" status="primary" nbButton (click)="cancelForm()">Cancel</button>&nbsp;
      <button type="submit" [disabled]="form.invalid" nbButton status="success">Save</button>
    </div>
  </div>

</form>
