<nb-card [style.width.px]="600"  [nbSpinner]="isLoading">
  <nb-card-header>{{ title }}</nb-card-header>
  <nb-card-body>
    <ngx-form-errors [errors]="errors"></ngx-form-errors>
    <ngx-sub-user-form [user]="user" [passwordRequired]="passwordRequired" (save)="saveUser($event)" (cancel)="closeDialog()"></ngx-sub-user-form>
  </nb-card-body>
</nb-card>
