@import '../../@theme/styles/themes';
@import '../ad-calendar-day-cell/cell-colors';

:host ::ng-deep ngx-stepper .step-content {
  text-align: center;
  button {
    cursor: pointer;
    margin: 0.5rem;
  }
}

:host ::ng-deep ngx-stepper .step .label {
  width: 50px !important;
  text-align: center;
}

:host ::ng-deep ngx-stepper .step-content .form-group {
  text-align: left;
}

.label {

  display: block;
  width: 75%;
  margin: 0.5rem auto;

  border-radius: nb-theme(calendar-border-radius);
  padding: 0.7rem;

  &.unavailable {
    background: $unavailable;
    color: #fff;
  }

  &.limited {
    background: $limited;
  }

  &.one-left {
    background: $one-left;
  }

  &.available {
    background: $available;
  }
}

@media (min-width: 576px) {
  .label {
    width: 50%;
  }

  :host ::ng-deep ngx-stepper .step .label {
    width: 70px !important;
  }
}

@media (min-width: 768px) {
  .label {
    display: inline-block;
    width: auto;
    margin: 0 1px;
  }
}

ad-payment {
  text-align: center;
}
