<nb-layout center>
  <nb-layout-column>
    <nb-card [nbSpinner]="isLoading">

      <nb-card-header><h2>Purchase an Ad</h2></nb-card-header>

      <nb-card-body>

        <ngx-stepper orientation="horizontal">

          <ngx-step label="Choose Your Ad Dates">
            <h3>Step 1: Choose Your Ad Dates</h3>

            <ad-calendar [min]="minDate" [selectedDates]="selectedDates"></ad-calendar>

            <p>
              <strong>Key: </strong>
              <span class="label unavailable">Ad Slots Sold Out</span>
              <span class="label one-left">Only 1 Ad Slot Left</span>
              <span class="label limited">Ad Slots Nearly Gone</span>
              <span class="label available">Ad Slots Available</span>
            </p>

            <p>Your ad spot reservation expires in 15 minutes. Please finish purchase before reservation expires.</p>

            <button nbButton (click)="next()" [disabled]="!isDateSelected">Next</button>
          </ngx-step>

          <ngx-step label="Create Your Ad Banner">
            <h3>Step 2: Create Your Ad Banner</h3>

            <ad-link-banner *ngIf="zone.isTextZone" (create)="onCreateBanner($event)"></ad-link-banner>
            <ad-image-banner *ngIf="zone.isBannerZone" (create)="onCreateBanner($event)" [width]="zone.width" [height]="zone.height"></ad-image-banner>

          </ngx-step>

          <ngx-step label="Pay For Your Ad">
            <h3>Step 3: Pay For Your Ad</h3>

            <!-- the <ad-payment> which you can find bellow is displayed here -->

          </ngx-step>

          <ngx-step label="Finish">
            <h3>Thank you for your purchase!</h3>
            <button nbButton routerLink="/pages/purchase-history">Go to Purchase History</button>
          </ngx-step>

        </ngx-stepper>

        <!-- a simple workaround of this issue https://github.com/paypal/paypal-checkout/issues/388 -->
        <!-- just render the paypal button before user gets to the payment step -->
        <ad-payment [order]="order" (completed)="next()" [hidden]="!isPaymentStep"></ad-payment>

      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
