<ngx-sub-users-unavailable-alert [numOfAvailableSubUsers]="numOfAvailableSubUsers"></ngx-sub-users-unavailable-alert>
<nb-card [nbSpinner]="isLoading">
  <nb-card-header>
    <h4>{{ title }}</h4>
    <button size="small" (click)="create()" nbButton [disabled]="isAddBtnDisabled" [nbTooltip]="addBtnTooltip" nbTooltipPlacement="top">{{ addButtonTitle }}</button>
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table
            [settings]="settings"
            [source]="source"
            (edit)="edit($event)"
            (delete)="delete($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
