<form (ngSubmit)="saveData()" #form="ngForm">
  <nb-card [nbSpinner]="saveDataLoading">
    <nb-card-header>Update profile</nb-card-header>
    <nb-card-body>
      <nb-alert status="danger" closable (close)="onErrorClose();" *ngIf = "errorText">
        {{errorText}}
      </nb-alert>
      <nb-alert status="success" closable (close)="onSuccessClose();" *ngIf = "successText">
        {{successText}}
      </nb-alert>
      <div class="form-group">
        <label for="input-email">Username</label>
        <input nbInput
               [(ngModel)]="user.username"
               #email="ngModel"
               id="input-email"
               name="email"
               pattern=".+@.+..+"
               placeholder="Username"
               fullWidth
               [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
               [required]="getConfigValue('forms.validation.email.required')">
        <small class="form-text error" *ngIf="email.invalid && email.touched && email.hasError('required')">
          Email is required!
        </small>
        <small class="form-text error"
               *ngIf="email.invalid && email.touched && email.hasError('pattern')">
          Email should be the real one!
        </small>
      </div>
      <div class="form-group">
        <label for="input-password" >Password</label>
        <input nbInput
               [(ngModel)]="user.password"
               #password="ngModel"
               type="password"
               id="input-password"
               name="password"
               placeholder="Password"
               fullWidth
               [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : ''"
               [minlength]="getConfigValue('forms.validation.password.minLength')"
               [maxlength]="getConfigValue('forms.validation.password.maxLength')">
        <small class="form-text text-muted">Optional. Leave this field empty if you want to change username only.</small>
        <small class="form-text error" *ngIf="password.invalid && password.touched && password.hasError('required')">
          Password is required!
        </small>
        <small
          class="form-text error"
          *ngIf="password.invalid && password.touched && (password.hasError('minlength') || password.hasError('maxlength'))">
          Password should contains
          from {{ getConfigValue('forms.validation.password.minLength') }}
          to {{ getConfigValue('forms.validation.password.maxLength') }}
          characters
        </small>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton
              status="success"
              size="small"
              fullWidth
              [disabled]="submitted || !form.valid"
              [class.btn-pulse]="submitted">
        Save changes
      </button>
    </nb-card-footer>
  </nb-card>
</form>
<nb-card>
  <nb-card-header>Deactivate account</nb-card-header>
  <nb-card-body>
    Your account will be deactivated and you will not able to sign in anymore.
  </nb-card-body>
  <nb-card-footer>
    <form (ngSubmit)="deactivateAccount()">
      <button nbButton
              status="success"
              size="small"
              fullWidth
              [class.btn-pulse]="submitted"
              [nbSpinner]="deactivateLoading"
      >
      Deactivate account
      </button>
    </form>
  </nb-card-footer>
</nb-card>
